@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4EBD7;
  --foreground: #1C1C19;
}

@layer base {
  body {
    background-color: var(--background);
    background-image: url('/images/noiseTexture.png');
    background-repeat: repeat;
    background-size: 50px 50px;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: clamp(40px, 7.5vw, 90px);
    font-weight: 600;
    color: var(--foreground);
    line-height: 1.2;
    font-family: var(--font-cabin), sans-serif;
  }

  h2 {
    font-size: clamp(24px, 4vw, 40px);
    font-weight: 500;
    color: var(--foreground);
    line-height: 1.2;
  }

  p {
    font-size: clamp(16px, 5vw, 30px);
    color: var(--foreground);
    font-weight: 300;
    line-height: 1.6;
  }
}
